#simplan {
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

hr {
  border-top: 4px solid rgb(255, 255, 255);
  height: 0px;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
p {
  margin: 5px;
}
.container-fluid {
  padding: 3% 15%;
}
.navbar {
  font-family: "Ubuntu";
  padding: 1% 12%;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  color: #44a785;
  padding: 5px 30px 0;
  font-size: larger;
}
.col-lg-3 {
  margin: auto;
}

.brand-text {
  font-size: 2rem;
  color: #44a785;
}

#title {
  background-color: #44a785;
}
.row-1 {
  margin: 0;
  padding: 0rem 10rem 0rem 10rem;
}
.Decription {
  padding-left: 20px;
  color: rgb(#fff);
}
.iconDecription {
  padding-left: 20px;
  color: #000;
  text-align: center;
}
.form-control {
  margin: auto;
  margin-top: 5px;
  position: relative;
  margin-bottom: 3px;
}
.btn {
  margin: 30px;
}
.product-description-backgroud {
  background-color: #eeeeee;
  padding-top: 100px;
}
.proDes-title {
  margin-left: 2px;
  margin-top: 23px;
  margin-bottom: -1.5rem;
  font-size: 2.5rem;
}
.proDes-des {
  margin: 5px 0 0 -40px;
}
.proDes-img {
  width: 100%;
  transform: rotateY(180deg);
}
.img-thumbnail {
  padding: 2rem;
  border: none;
}
.row-3 {
  margin-top: 6rem;
  padding: 0rem 5rem 0rem 5rem;
}

#Vid {
  background-color: #44a785;
}

.some {
  padding-top: 5rem;
}

.descrip {
  padding: 3rem 10rem 3rem 10rem;
  margin-bottom: 0 !important;
}

#pricing {
  display: flex;
  justify-content: space-between;
  padding: 11rem 9%;
  background-color: #eeeeee;
}

.table-container {
  width: 20rem;
}

@media screen and (max-width: 900px) {
  #pricing .proDes-text .simplan {
    flex-direction: column !important;
    display: flex;
  }
  .table-container {
    display: flex;
    justify-content: center;
    width: auto;
  }
}
.price {
  margin-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

tr:nth-child(2n) {
  background-color: #429e7e;
}
td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  padding: 0.64rem;
}

#contact {
  background-color: #44a785;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  #contact .video {
    flex-direction: column !important;
    display: flex;
  }
}

.footer {
  width: 63rem;
  display: flex;
}
.sms-icon {
  padding-right: 10px;
}

.facebook {
  text-decoration: none;
  color: black;
  font-size: 34px;
}
.facebook:hover {
  color: white;
  text-decoration: underline;
}
.facebook-icon {
  padding-right: 10px;
}
.whatsapp {
  text-decoration: none;
  color: black;
  height: 100%;
}
.whatsapp-icon {
  height: 100%;
  font-size: 34px;
  padding-right: 10px;
}
.whatsapp:hover {
  color: white;
  text-decoration: underline;
}

/* 
.hide {
  display: none;
}

.popup {
  display: block;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner-popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 1 !important;
  width: 20rem;
  height: 20rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
} */
